body {
  background: #EBEBEB;
  color: #7d7d7d;
  font-weight: 300;
  background-image: url("./images/tom.jpg");
  background-size: cover;
  line-height: 1.6em;
}

h1 {
  font-family: 'Krub', sans-serif;
  color: #a80038;
  font-size: 23px;
}

h2 {
  font-family: 'Krub', sans-serif;
  font-size: 22px;
  font-weight: 300;
  color: grey;
}

h3 {
  font-family: 'Krub', sans-serif;
  font-size: 19px;
  color: grey;
  font-weight: 300;

}

p {
  font-family: 'Krub', sans-serif;
  font-size: 12px;
  font-weight: 30;
  color: black;
}

.img-circle {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}


a {
  color: grey;
  text-decoration: none;
  font-family: 'Krub', sans-serif;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.card {
  background-color: white;
  opacity: 0.8;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  box-shadow: 0px 1px 2px 0px;
}

.text-center {
  text-align: center;
  list-style: none;
}
.list-inline {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  display: inline-block;
  margin: 15px 15px;
}

.btn-red {
  background-color: #DD5555;
  color: white;
  font-weight: 500;
  padding: 10px;
  border-radius: 4px;
}
